<template>
  <span class="">
    <span class="design-tooltip">
      <label for="csv_export" class="label-file"
        ><i class="fas fa-file-export large-icon" :class="{'x-large-icon': !expositors}"></i
      ></label>
      <div v-if="expositors">
        <input
          type="button"
          id="csv_export"
          name="csv_export"
          class="input-file"
          @click="csvExport(expositors, expositors_inf)"
        />
        <span class="design-tooltip-box">
           <span
            >Para exportacion de usuarios hacer 'check' en la fila exportar de
            los usarios a exportar</span
          >
        </span>
      </div>
      <div v-else>
        <input
          type="button"
          id="csv_export"
          name="csv_export"
          class="input-file"
          @click="csvUsers(users)"
        />
        <span class="design-tooltip-box">
          <span
            >Para exportacion de usuarios hacer 'check' en la fila exportar de
            los usarios a exportar</span
          >
        </span>
      </div>
    </span>
  </span>
</template>

<script>
import { object } from "joi";
export default {
  props:
    ["expositors_inf", "users", "expositors", "option", "dates", "event"],
  methods: {
    prueba() {
      console.log("testing");
    },
    async downloadCVS(array) {
      let csvContent = "data:text/csv;charset=utf-8,";
      csvContent += [
        Object.keys(array[0]).join(";"),
        ...array.map((item) => Object.values(item).join(";")),
      ]
        .join("\n")
        .replace(/(^\[)|(\]$)/gm, "");

      const data = encodeURI(csvContent);
      // console.log(data)
      const link = document.createElement("a");
      link.setAttribute("href", data);
      link.setAttribute("download", "export.csv");
      link.click();
    },
    async csvExport(expositors, expositors_inf) {
      // uniendo expositors (data email) con expositor_inf(data link y whatsapp)
      for (let index = 0; index < expositors.length; index++) {
        for (let i = 0; i < expositors_inf.length; i++)
          if (expositors_inf[i].id == expositors[index]._id) {
            expositors[index]["link"] = expositors_inf[i].link;
            expositors[index]["whatsapp"] = expositors_inf[i].whasapp;
          }
        delete expositors[index]["_id"];
      }
      this.downloadCVS(expositors);
    },
    async csvUsers(users) {
      //estos keys deben corresponder al nombre de la base de datos
      console.log("export users");
      let array = [];

      switch (this.option) {
        case "1":
          let personal_data = [
            "name",
            "email",
            "phone",
            "company",
            "position",
            "company_email",
          ];
          let social_network = [
            "instagram",
            "facebook",
            "skype",
            "telegram",
            "website",
          ];

          users.map((user) => {
            // data personal
            let data = {};
            for (let value of personal_data)
              data[value] = user[value] ? user[value] : "";

            // datos de redes sociales
            for (let value of social_network) {
              data[value] = user.social_network
                ? user.social_network[value]
                  ? user.social_network[value]
                  : ""
                : "";
            }

            array.push(data);
          });

          break;
        case "2":
          // datos de formulario
          console.log(users)

          users.map((user) => {
            let data = {};
            data["name"] = user.name;
            data["email"] = user.email;
            if (user.forms && user.forms[this.event])
              for (let value in user.forms[this.event])
                data[value] = user.forms[this.event][value];

            array.push(data);
          });
          array.sort((a, b) => {
            return Object.keys(b).length - Object.keys(a).length;
          });

          break;
        case "3":
          let emails = [];
          users.map((user) => {
            emails.push(user.email);
          });

          let visitas = await fetch(`/visitas/${this.event}`, {
            method: "POST",
            headers: {
              Accept: "application/json",
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ emails: emails }),
          });

          visitas = await visitas.json();
          if(visitas.length ===0)
          {
            alert('No hay visitas')
            return
          }

          visitas.map((value) => {
            let data = {};
            let user_data = users.find((user) => user.email == value.email);
            data["name"] = user_data.name;
            data["email"] = user_data.email;
            let time = value.time.split("T");
            data["Dia"] = time[0];
            data["Hora"] = time[1].split(".")[0];

            array.push(data);
          });
          break;
      }

      if (array.length > 0) this.downloadCVS(array);
    },
  },
};
</script>