<template>
  <div id="app">
    <div class="container">
      <div
        class="row border border-right-0 border-left-0 border-top-0 border-dark"
      >
        <label class="text-justify"
          ><input type="checkbox" id="checkbox" v-model="checked" /> Activar
          respuesta automática al correo electrónico cuando se registre un nuevo
          usuario a través del formulario</label
        >
      </div>
      <div
        class="row border border-right-0 border-left-0 border-top-0 border-dark"
      >
        <ul class="col-sm-12 list-unstyled">
          <li class="row mt-1" v-for="(value, key) in fields" v-bind:key="key">
            <label class="col-lg-1 m-0 p-0">{{ key }}</label>

            <input
              v-model="fields[key]"
              type="text"
              class="m-0 p-0 w-75 col-lg-6"
              :disabled="key === 'Contraseña' ? is_disabled() : false"
            />
            <i
              v-if="key === 'Remitente'"
              class="fa fa-info-circle align-self-center m-1"
              data-toggle="tooltip"
              data-placement="top"
              title="Cambiar el remitente podria enviar los mensajes automaticos a la carpeta SPAM"
            ></i>
            <div v-if="key === 'Contraseña'" class="text-center col-lg-5">
              <div class="row">
                <div class="col m-0 p-0">
                  <input
                    type="radio"
                    value="1"
                    v-model="opcion_contraseña"
                    name="contraseña"
                  />
                  <label class="m-0 p-0"> General</label>
                </div>

                <div class="col m-0 p-0">
                  <input
                    type="radio"
                    value="2"
                    v-model="opcion_contraseña"
                    name="contraseña"
                  />
                  <label class="m-0 p-0"> Personalizada</label>
                </div>

                <div class="col m-0 p-0">
                  <input
                    type="radio"
                    value="3"
                    v-model="opcion_contraseña"
                    name="contraseña"
                  />
                  <label class="m-0 p-0"> Aleatoria</label>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <editor
        api-key="no-api-key"
        v-model="signup_message"
        :init="{
          height: 500,
          menubar: false,
          plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount',
          ],
          toolbar:
            'undo redo | formatselect | bold italic backcolor | \
           alignleft aligncenter alignright alignjustify | \
           bullist numlist outdent indent | removeformat | code | help',
        }"
      />
      <button type="button" @click="save_content">Guardar</button>
    </div>
  </div>
</template>

<script>
import Editor from "@tinymce/tinymce-vue";
import * as Event from "./model";
import ajax from "../../ajax";

export default {
  name: "app",
  props: ["id"],
  components: {
    editor: Editor,
  },
  data() {
    return {
      signup_message: "",
      checked: false,
      opcion_contraseña: 1,
      fields: {
        Remitente: "",
        Asunto: "",
        Contraseña: "",
      },
    };
  },
  mounted() {
    this.load_content();
  },
  computed: {},
  methods: {
    is_disabled: function () {
      return this.opcion_contraseña == 1 ? false : true;
    },
    load_content: async function () {
      var mensaje = await ajax("/event/" + this.id);

      this.signup_message = mensaje.signup_message;
      this.checked = mensaje.checked;

      if (mensaje.message) this.fields = mensaje.message;
      if (mensaje.type_password) this.opcion_contraseña = mensaje.type_password;
    },
    save_content: async function () {
      if (this.opcion_contraseña != 1) this.fields.Contraseña = "";

      await ajax("/event/" + this.id + "/signup_message", {
        method: "POST",
        body: {
          content: this.signup_message,
          checked: this.checked,
          message: { ...this.fields },
          type_password: this.opcion_contraseña,
        },
      });

      alert("Guardado");
    },
  },
};
</script>
